<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="icon" href="img/rose.png" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Satisfy|Swanky+and+Moo+Moo&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="css/customer.css" rel="stylesheet">
    <script defer src="javascript/script.js"></script>
    <title>CUSTOMERS SERVICE</title>
</head>

<body>
    <div id="container">
        <div class="header">
            <h2>Beauté</h2>
            <ul id="menu">
                <li class="bold"><a href="/fags">FAQs</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/membership">Membership guide</a></li>
            </ul>
        </div>
        <div id="space"></div>
        <div id="main">
            <!-- Need to fill -->
            <h3>FAQs</h3>
            <div id="line"></div>
            <div id="faq">
                <div class="faq_area">
                    <h4>Products</h4>
                    <ul>
                        <li>
                            <h5>
                                <span class="q_cont"><a href="#" onclick="fnView('1','56')">How can I check the
                                        expiration date and the best before date?</a><img src="images/arrowUp.png"
                                        class="hideAns" id="hide1_56" onclick="fnHide('1','56')"></span>
                            </h5>
                            <div id="Answer1_56" class="answer">
                                Expiration date: Check the number next to EXP on the outside of the product. The date format is YYYY/MM/DD. It means that the product can be distributed until this date.
                                <br><br>Best before date: Check DESCRIPTION on the product detail page of the site. For example, if it says 'Best used within 36 months,' the product can be used within 36 months from the date of manufacture.
                            </div>
                        </li>
                        <li>
                            <h5>
                                <span class="q_cont"><a href="#" onclick="fnView('1','57')">When will an out-of-stock
                                        product become available again?</a><img src="images/arrowUp.png" class="hideAns"
                                        id="hide1_57" onclick="fnHide('1','57')"></span>
                            </h5>
                            <div id="Answer1_57" class="answer">
                                If the product is temporarily sold out or certain options are sold out, click 'EMAIL ME WHEN IN STOCK' on the product page to receive an alert when it's in stock again. You can see the details of your request on My Account page, and you will receive an
                                alert when the product is in stock again. If you have further questions, please contact the customer center.
                            </div>
                        </li>
                        <li>
                            <h5>
                                <span class="q_cont"><a href="#" onclick="fnView('1','58')">I'd like to know more about
                                        the ingredients of the product.</a><img src="images/arrowUp.png" class="hideAns"
                                        id="hide1_58" onclick="fnHide('1','58')"></span>
                            </h5>
                            <div id="Answer1_58" class="answer">
                                If you click 'SEE FULL INGREDIENTS' on the product detail page, you can check all the ingredients of the product. It is difficult to provide you with accurate amount of contents (%), but full ingredients will be shown in the descending order of contents.
                            </div>
                        </li>
                        <li>
                            <h5>
                                <span class="q_cont"><a href="#" onclick="fnView('1','59')">Where can I find the price
                                        of the product?</a><img src="images/arrowUp.png" class="hideAns" id="hide1_59"
                                        onclick="fnHide('1','59')"></span>
                            </h5>
                            <div id="Answer1_59" class="answer">
                                You can check the price in the product list and detail page. If you select a country in the upper right-hand corner of the site,the page for changing the reference currency will appear. If you have difficulty finding it on the site, use the product code
                                specified on the product or product name to contact the customer center. Then, the customer center will check the price for you as long as it is being sold on innisfrfeeworld.
                            </div>
                        </li>
                    </ul>
                    <h4>Account</h4>
                    <ul>
                        <li>
                            <h5>
                                <span class="q_cont"><a href="#" onclick="fnView('2','56')">How can I change my
                                        membership information?</a><img src="images/arrowUp.png" class="hideAns"
                                        id="hide2_56" onclick="fnHide('2','56')"></span>
                            </h5>
                            <div id="Answer2_56" class="answer">
                                After you log in, you can change your membership information by clicking Edit Profile under My Account.
                            </div>
                        </li>
                        <li>
                            <h5>
                                <span class="q_cont"><a href="#" onclick="fnView('2','57')">I deleted my account, but I
                                        received an email.</a><img src="images/arrowUp.png" class="hideAns"
                                        id="hide2_57" onclick="fnHide('2','57')"></span>
                            </h5>
                            <div id="Answer2_57" class="answer">
                                We delete all membership information of members who withdrew. However, newsletters reserved before withdrawal may be delivered after the withdrawal from membership at times. Your understanding will be appreciated, and if you keep receiving newsletters,
                                please contact the customer center.
                            </div>
                        </li>
                        <li>
                            <h5>
                                <span class="q_cont"><a href="#" onclick="fnView('2','58')">I want to receive
                                        newsletters or refuse to receive newsletters.</a><img src="images/arrowUp.png"
                                        class="hideAns" id="hide2_58" onclick="fnHide('2','58')"></span>
                            </h5>
                            <div id="Answer2_58" class="answer">
                                Click Newsletter Subscription on My Account, and click SUBSCRIBED or UNSUBSCRIBE.
                            </div>
                        </li>
                        <li>
                            <h5>
                                <span class="q_cont"><a href="#" onclick="fnView('2','59')">When I try to log in, the
                                        system says that my ID is not registered.</a><img src="images/arrowUp.png"
                                        class="hideAns" id="hide2_59" onclick="fnHide('2','59')"></span>
                            </h5>
                            <div id="Answer2_59" class="answer">
                                Use the e-mail address you entered when you signed up for membership to log in. At this time, upper-case and lower-case letters need to be distinguished. If you want to change your e-mail address, log in and change your e-mail address (ID) in My Account
                                > Edit Profile.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <sidebar>
            <% include partial/sidebar %>
        </sidebar>
    </div>
    <footer>
        <% include partial/footer %>
    </footer>
</body>

</html>