<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="icon" href="images/logoicon.png" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Satisfy|Swanky+and+Moo+Moo&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/stores.css" />

    <title>Cosmetic</title>

</head>

<body>
    <div id="container">
        <div class="header">
            <h2>Beauté</h2>
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="">Product</a>
                    <ul class="sub-menu">
                        <li><a href="makeup.html">Make up</a></li>
                        <li><a href="perfume.html">Perfume</a></li>
                        <li class="last-child"><a href="skincare.html">Skin care</a></li>
                    </ul>
                </li>
                <li><a href="">Collection</a></li>
                <li><a href="" class="last-link">About us</a></li>
            </ul>
        </div>
        <div id="space"></div>
        <div id="main">
            <div id='containers'>
                <div id="headers">
                    <h1>STORES CLOSE TO YOU</h1>
                </div>

                <div id="top-color-splash"></div>
                <div id='left-sidebars'>
                    <h3>Store Hai Ba Trung HCM</h3>
                    <p>
                        257 Hai Ba Trung, Phuong 6, Quan 3, TPHCM<br> Phone number: 02866814803
                    </p>

                    <h3>Store Vincom Dong Khoi HCM</h3>
                    <p>
                        72 Le Thanh Ton, Phuong Ben Nghe, Quan 1, TPHCM<br> Phone number: 02862724831
                    </p>

                    <h3>Store Nguyen Trai HCM</h3>
                    <p>
                        42 Nguyen Trai, Phuong Ben Thanh, Quan 1, TPHCM<br> Phone number: 02822298925
                    </p>

                    <h3>Store Crescent Mall HCM</h3>
                    <p>
                        Tang tret, Crescent Mall, Phuong Tan Phu, Quan 7, TPHCM HCMC<br> Phone number: 02866829928
                    </p>
                    <h3>Store Landmark81 HCM</h3>
                    <p>
                        Tầng L1, Vincom Landmark 81, 720A Dien Bien Phu, Phuong 22, Quan Binh Thanh, TPHCM<br> Phone number: 02862752738
                    </p>
                    <h3>Store AEON Mall Tan Phu Celadon HCM</h3>
                    <p>
                        Tang G, AEON Mall Tan Phu Celadon, Phuong Son Ky, Quan Tan Phu, TPHCM<br> Phone number: 02862757983
                    </p>
                </div>
            </div>
        </div>
        <sidebar>
            <% include partial/sidebar %>
        </sidebar>
    </div>
    <footer>
        <% include partial/footer %>
    </footer>
</body>

</html>