<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap" rel="stylesheet">
    <link rel="icon" href="img/rose.png" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Satisfy|Swanky+and+Moo+Moo&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="css/customer.css" rel="stylesheet">
    <script defer src="script/script.js"></script>
    <title>CUSTOMERS SERVICE</title>
</head>

<body>
    <div id="container">
        <div class="header">
            <h2>Beauté</h2>
            <ul id="menu">
                <li><a href="/fags">FAQs</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li class="bold"><a href="/membership">Membership guide</a></li>
            </ul>
        </div>
        <div id="space"></div>
        <div id="main">
            <!-- Need to fill -->
            <h3>Membership Guide</h3>
            <div id="line"></div>
            <div id="guide-area">
                <ul style="display: flex">
                    <li>- Beaute's guide</li>
                    <li style="margin-left: 60%">- Customer Service Center</li>
                </ul>
                <ul>
                    <li>
                        <h4>Beaute's guide</h4>
                    </li>
                    <li>
                        a. You can place your order through our website (www.beaute.com) or our mobile site (m.beaute.com). Beaute offers international shipping to over 250 countries. <br>b. All our prices are shown in US dollars, but you can make payments
                        in 23 different currencies. (Local currencies are accepted only when paying with a credit card issued in your country.) <br>c. Beaute website provides 3 different languages: English, Traditional Chinese and Russian. You can select
                        the language upper right side that matches your preference.
                    </li>
                </ul>
                <ul>
                    <li>
                        <h4>Customer Service Center</h4>
                    </li>
                    <li>
                        a. Business hours: Mon-Fri 09:00AM - 6:00PM KST (Off on Weekends and Holidays)
                        <br>b. Email: support_world@beaute.com
                        <br>c. We can provide information in English and Chinese.
                    </li>
                    <li class="green">
                        ※ Website bulletin, e-mail available until: September 30, 2019 6:00PM (KST) 1) Live chat available until August 30, 2019 6:00PM(KST). 2) New customer service requests will not be available after September 30, 2019 6:00PM (KST). Confirmation request on
                        order, delivery and return can be made to e-mail [support_world@beaute.com]. As the service is only available in English and attended by the order of request, replies may be delayed.
                    </li>
                </ul>
            </div>
        </div>
        <sidebar>
            <% include partial/sidebar %>
        </sidebar>
    </div>
    <footer>
        <% include partial/footer %>
    </footer>
</body>

</html>