body {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr 205px;
    width: 100%;
}

.header {
    height: auto;
    background: white;
    position: fixed;
}

.space {
    height: 700px;
}

h2 {
    padding-top: 20px;
    padding-left: 40px;
    text-transform: uppercase;
    font-family: 'Francois One', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#menu {
    padding-left: 40px;
    padding-top: 20px;
}

#menu li {
    /* background-color: teal; */
    color: white;
    height: 20px;
    width: 100%;
}

#menu li:nth-child(2) {
    height: 90px;
    width: 100%;
}

#menu li a:link,
#menu li a:active,
#menu li a:visited {
    /* color: #95a5a6; */
    color: black;
    font-size: 14px;
    font-family: 'Muli', sans-serif;
}

#menu li a:hover {
    color: #c0392b;
    font-weight: bold;
}

#menu li .sub-menu>li {
    width: 100%;
    height: 22px;
    line-height: 22px;
    /* background: pink; */
}

#menu li .sub-menu a:link,
#menu li .sub-menu a:active,
#menu li .sub-menu a:visited {
    /* color: #b5c7c9; */
    color: rgb(117, 108, 108);
    font-size: 14px;
    font-family: 'Muli', sans-serif;
    padding-left: 20px;
}

#menu li .sub-menu a:hover {
    color: #c0392b;
    font-weight: bold;
}

#main {
    display: grid;
    min-height: 550px;
    margin-bottom: 20px;
    /* grid-template-rows: 1fr 40px; */
}

#main {
    display: grid;
    grid-template-rows: 1fr 40px;
    min-height: 500px;
}

.content {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    /* grid-template-rows: 1fr 1fr 1fr 30px; */
    grid-gap: 10px;
    /* background: pink; */
    padding-left: 10px;
}

.content img {
    width: 100%;
    height: 55%;
}

.img-ex {
    display: block;
    margin: auto;
}

.figure {
    display: inline-block;
    margin: auto;
}

.figure {
    display: inline-block;
    margin: auto;
    border: 1px dotted orange;
}

.figure-caption {
    text-align: center;
    /* background-color: coral; */
    padding: 5px 0 5px 0;
    border-radius: 5px;
    width: 200px;
    margin: auto;
}

.expired-text {
    color: crimson;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
}

.logo-icon {
    padding-top: 30px;
    /* position: fixed; */
}

button {
    background: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

button,
input {
    overflow: visible;
    background: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

.search-box {
    /* padding-left: 60px; */
    border-bottom: 1px solid black;
    float: right;
    height: 25px;
    line-height: 25px;
}

.search-txt {
    border: none;
    /* float:left; */
}

.search-txt:hover {
    border: none;
}

.account {
    color: black;
    float: right;
    height: 35px;
    line-height: 35px;
}

.account a:link a:visited{
    color: black;
}

.account a:hover {
    font-weight: bold;
}

.account i {
    color: black;
    padding-right: 8px;
}

.cart {
    clear: both;
    float: right;
    letter-spacing: 1px;
}

.cart i {
    color: black;
    padding-right: 8px;
}

.cart a {
    color: black;
}

.cart a:link {
    color: black;
}

.cart a:hover {
    color: black;
    font-weight: bold;
}

h5 {
    font-weight: normal;
    font-family: 'Old Standard TT', serif;
}

.price {
    font-size: 12px;
}

.colour {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}


/* 
#next-page {
    /* background: pink;
    padding-top: 20px;
    padding-left: 550px;
}

#next-page a {
    font-size: 17px;
    background-color: #ecf0f1;
    color: #3498db;
    padding: 5px;
} */

.footer {
    background: gray;
    grid-column: span 3;
    font-size: 10px;
    background-color: black;
    padding: 20px 0;
    margin-top: 10px;
}

.footer table {
    display: inline;
    padding: 0 2px;
    font-family: 'Slabo 27px', serif;
}

table {
    /* padding: 0px;
    margin: 0 100px; */
    font-size: 0.5em;
    /* width: 80%; */
}

table tr td a {
    text-decoration: none;
    color: rgb(182, 171, 171);
    font-size: 15px;
}

td {
    font-size: 14px;
    color: white;
    padding: 0px 140px;
}

.app i {
    color: white;
    font-size: 3em;
}

.app a {
    padding: 0px 10px;
}

.app {
    margin: 35px 500px;
}

.name-product {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: darkorange;
    font-weight: lighter;
}

.price-product,
.price-sale {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

.price-product {
    color: gray;
}

.price-sale {
    font-weight: bold;
    color: black;
}

.price-reduce {
    color: crimson;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.sale-content {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    /* grid-template-rows: 1fr 1fr 1fr 30px; */
    grid-gap: 10px;
    /* background: pink; */
    padding-left: 10px;
    padding-top: 10px;
}

.sale-content img {
    width: 100%;
    height: 40%;
}

.media {
    border: 2px solid blanchedalmond;
    background-color: blanchedalmond;
}

.media h5 {
    font-size: 35px;
    font-family: 'Crimson Text', serif;
    text-transform: uppercase;
    color: crimson;
}

.offer-text,
.media h5 {
    text-align: center;
}

.offer-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.offer-text .title {
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.offer-day {
    text-transform: uppercase;
    color: crimson;
    font-style: italic;
}

.makeup-container {
    text-align: center;
    padding: 10px;
}

.makeup-text {
    background-color: #fdceb7;
    width: 600px;
    min-height: 50px;
    margin: auto;
    padding: 5px;
    /* border:  1px dotted gray; */
}

.makeup-title {
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Crimson Text', sans-serif;
}

.makeup-cap {
    color: #990033;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}