<div class="footer">
    <table>
        <tr>
            <td>OFFERS & EVENTS</td>
        </tr>
        <tr>
            <td> <a href="/current">Current offers</a></td>
        </tr>
        <tr>
            <td> <a href="/expired">Expired offers</a></td>
        </tr>
    </table>
    <table>
        <tr>
            <td> STORES</td>
        </tr>
        <tr>
            <td> <a href="/find">Find a store</a></td>
        </tr>
        <tr>
            <td> <a href="/notice">Store notice</a></td>
        </tr>
    </table>
    <table>
        <tr>
            <td> CUSTOMER SERVICE</td>
        </tr>
        <tr>
            <td> <a href="/fags" target="_blank">FAQs</a></td>
        </tr>
        <tr>
            <td> <a href="/contact" target="_blank">Contact us</a></td>
        </tr>
        <tr>
            <td> <a href="/membership" target="_blank">Membership guide</a></td>
        </tr>
    </table>

    <div class="app">
        <a href=""><i class="fa fa-facebook-square"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-youtube"></i></a>
    </div>
</div>